@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:rgb(45, 212, 45);

    height: 100%;
    width: 100%;
}
    /* introdução */
.introdução{
    background: white;

    text-align: center;

  
}
.intro{
    margin-top: 0px;
}
.intro-mark{
    text-decoration: underline rgb(45, 212, 45);
}

    /* perfil */
.perfil{
    background: rgb(30, 30, 30);

    min-height: 120px;
    max-height: 600px;
    min-width: 120px;
    max-width: 2580px;

    text-align: center;
    font-size: x-large;
    color: aliceblue;
}
.foto-perfil{
    margin-top: 20px;

    border-radius: 50%;
    border-width: 5px;
    border-color: rgb(45, 212, 45);
    border-style: solid;
}
    /* midia img de perfil */
@media (max-width: 2680px) and (min-width: 120px){
    .foto-perfil{
        height: 50%;
    }
}

.perfil h3{
    padding-bottom: 10px;
}
    /* media fonte dos contato */
@media (max-width: 2680px) and (min-width: 376){
    .perfil h3{
        font-size: x-large;
    }
}
@media (max-width: 375px) and (min-width: 120px){
    .perfil h3{
        font-size: large;
    }
}
.perfil a{
    color: aliceblue;
    text-decoration: none;
}
.perfil a:hover{
    text-decoration: underline;
}
.contato-mark{
    text-decoration: underline rgb(45, 212, 45);
}

    /* sobre-mim */
.sobre-mim{
    background: rgb(30, 30, 30);
    color: aliceblue;

    min-width: 120px;
    max-width: 2560px;

    margin-top: 4px;
    padding: 50px;
}
    /*media fonte sobre-mim */
@media (max-width: 2580px) and (min-width: 120px){
    .sobre-mim{
        font-size: xx-large;
    }
}

    /* tecnologias */
.tecnologias{
    background: rgb(30, 30, 30);

    min-width: 120px;
    max-width: 2580px;

    margin-top: 4px;
}

    /* formação */
.formação{
    background: rgb(30, 30, 30);
    color: aliceblue;

    min-width: 120px;
    max-width: 2580px;

    margin-top: 4px;
    padding: 50px;
}
